<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{{ drug.name }} - Pfizer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1 class="logo">Pfizer</h1>
    </div>
    <div class="container">
        <div class="drug-detail">
            <div class="drug-detail-image">
                {% if drug.image %}
                    <img src="{{ drug.image }}" alt="{{ drug.name }}">
                {% endif %}
            </div>
            <div class="drug-detail-info">
                <h2 class="drug-detail-title">{{ drug.name }}</h2>
                <div class="drug-params">
                    <p><strong>Концентрация ампулы:</strong> {{ drug.concentration }}</p>
                    <p><strong>Объём ампулы:</strong> {{ drug.volume }}{% if drug.volume == '5 мл' %}, 5 мл, 10 мл{% endif %}</p>
                    <p><strong>Показания:</strong> {{ drug.description }}</p>
                    <form method="POST" action="{% url 'add_to_estimation_request' drug.id %}" class="drug-detail-form">
                        {% csrf_token %}
                        <button type="submit" class="details-button">
                            Добавить к расчётам
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        {% if estimation_count > 0 %}
            <a href="{% url 'estimation_infusion_speed_with_id' estimation_request_id %}" class="cart-icon-link">
                <div class="icon-circle">
                    <span class="microscope">🔬</span>
                    <span class="cart-badge">{{ estimation_count }}</span>
                </div>
            </a>
        {% else %}
            <div class="cart-icon-link cart-icon-disabled" title="Добавьте препараты в заявку">
                <div class="icon-circle">
                    <span class="microscope">🔬</span>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>